Como Ud. comprenderá, atender a alguien en su propia casa es un asunto muy delicado y por eso es que lo hemos invitado a Ud. porque sabe hacer trabajos eléctricos que no representan riesgos a las personas ni a la propiedad.

Alexander Espinosa
CEO alectrico.cl
