%td{:align => "center", :valign => "top"}
  =image_tag('/img/THHN.jpg', :alt => "Un Cliente de Aléctrico Requiere Sus Servicios", :border => "0", :height => "auto", :style => "display:block; max-width:380px; font-family:Arial, sans-serif; font-size:17px; line-height:20px; color:#000000; font-weight:bold;", :width => "380")

