= image_tag('/img/logo_alicate.png', :class => "img.em_w150" , :alt => "logo alectrico", :border => "0", :height => "41", :style => "display:block; font-family:Arial, sans-serif; font-size:18px; line-height:25px; text-align:center; color:#1d4685; font-weight:bold; max-width:208px;", :width => "208")

