%script{:type=>"text/javascript", :src => "https://wms.assoc-amazon.com/20070822/US/js/link-enhancer-common.js?tag=instrumentaci-20"}
%noscript
  <img src="https://wms.assoc-amazon.com/20070822/US/img/noscript.gif?tag=instrumentaci-20" alt="" />
