%meta{:property => "og:image",       :content => image_url(Rails.configuration.domain['jumbotron_heading']) }
%meta{:property => "og:type",        :content => "website" }
%meta{:property => "og:url",         :content => root_url }
%meta{:property => "og:title" ,      :content => "Aléctrico: Electricista a Domicilio"}
%meta{:property => "og:description", :content => Rails.configuration.domain['area_de_servicio']}
%meta{:property => "fb:app_id",      :content => Rails.configuration.domain['fb_app_id']}
