-#Esta navegación está en desuso, no es un footer
-content_for(:meta) do
  %meta{:property => "navigation", :content => 'on_footer'}
  %meta{:property => "navigation_on_footer.variant", :content => ''}
  %meta{:property => "locale", :content => ''}



-##nav.navbar.navbar-toggleable-sm.navbar-inverse.bg-faded
%nav.nav.navbar-toggler.navbar-light.bg-faded.nav-bar-justified{:style => "z-index: 150"}

